DCExternalSite/DCExternalSite/Service References/DCServiceReference/DCService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1044/Services/DCService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DiagnosticCenter.Models" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DiagnosticCenter.Models" minOccurs="0" name="GetPatientsResult" nillable="true" type="q1:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>