trunk/DCExternalSite/DCExternalSite/Service References/DCServiceReference0/DCService02.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52878/Services/DCService0.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DCExternalSite.Web.Models" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DCExternalSite.Web.Models" minOccurs="0" name="GetPatientsResult" nillable="true" type="q1:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExaminations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_Patient" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExaminationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DCExternalSite.Web.Models" minOccurs="0" name="GetExaminationsResult" nillable="true" type="q2:ArrayOfExamination" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>